.mirrors {
	display: flex;
	flex-direction: horizontal;
}

#mirror-left {
	width: 50%;
	padding: 10px;
	margin: 5px;
	border: solid lightblue 1px;
}

#mirror-right {
	width: 50%;
	padding: 10px;
	margin: 5px;
	border: solid red 1px;
}