.disabled {
    background-color: gray;
}

.enabled {
    background-color: fuchsia;
    color: goldenrod;
}

.button-group {
	padding: 10px;
	margin: 5px;
}

#powerList {
	padding-left: 10px;
	margin: 5px;
}